@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); 


:root{
    --color-border-menu:rgba( 0, 0, 0, .212);
    --color-menu: #F2F2F2;
    --color-font: #000000c0;
    --color-hover-menu: #eeeeee75;
    --color-outline: #034C8C;
    --color-border-text: #0000001c;
    --color-button: #126DA6;
    --color-hover-button: #034C8C;
    --color-text-button : #fff ;
    --color-bottom : #126DA6 ;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

main {
  
    z-index: -1;
}

body{
    /* background-image: url('/src/imagem/BG.png'); */
    max-width: 1280px;
    font-family: 'Roboto', sans-serif;
}

.bg {
    position: fixed;
    z-index:-1;
}

.group-img {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}



.persona {
    position: absolute;
    display: flex;
    align-items: end;
    height: 100%;
    margin-left: 2rem; 
}
    
    
.persona    img {
    height: 600px;
}    


.marca {
    position: absolute;
    width: 100vw;
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 3rem;
}

.marca img {
    width: 300px;
}
.social-media {
    display: flex;
}
.social-media img {
    margin: 0.5rem;
    width: 50px;
}

.social-media img {
    transition: 0.2 ease-in-out;
}

.social-media img:hover {
    transform: scale(1.2);
}

.description-group {
    min-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
    padding: 2rem;
  
}

.description#p1 {
    padding: 0.5rem;
    color: #d3b06e;
    
} 

.description#p2 {
    padding: 0.5rem;
    color: #ffffffff;
}


 .description#p1 p::after{
    content: '';
    display: block;
    width: 10;
    height: 0.2rem;
    background-color: #fff;
    margin: 10px;
    position: absolute;
    border-radius: 10px;
    margin-top: 2rem;
}


 .container {

    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
 
}

.form {
    max-height: 100vh;
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: center;
}

form{
    width: 20%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--color-border-menu);
    background-color: var(--color-menu);
}



html ::-webkit-scrollbar {
    width: 2px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: #1345af;
}

.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}


.imput-group{
    height: 45vh;
    padding: 1rem;
}

.form .imput-box{
    padding: 1px;
}


.imput-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem ;
}

.imput-box input{
    margin: 0.8rem 1.4;
    padding: 0.3rem ;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px var(--color-border-text);
}

.imput-box input:hover{
    background-color: var(--color-hover-menu);
}

.imput-box input:focus-visible{
    outline: 1.5px solid var(--color-outline);
}

.imput-box label,
.gender-title h6{
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--color-font);
}

.box-box{
    padding: 2rem 0.5rem 0.5rem;
}

.box-box label,
.gender-title h6{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-font);
}


.box{
    display: flex;
    justify-content: center;
    padding: 0.6rem ;
}

.button-is-send {
    display: flex;
    justify-content: center;  
    padding: 1.5rem 0 2rem 0;
}

.button-is-send #button {
    border: none;
    background-color: var(--color-button);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.button-is-send #button:hover {
    background-color: var(--color-hover-button);
}

.button-is-send #button  {
    text-decoration: none;
    font-weight: 500;
    color:  var(--color-text-button) ;
}
