@media screen and (max-width: 1920px) {

    .imput-group {
        overflow: auto;
    }
}

@media screen and (max-width: 1280px) {

    form {
        width: 30%;

    }

}


@media screen and (max-width: 1030px) {

    .group-img {
        width: 80vh;
        display: flex;
        justify-content: center;
    }

    .persona img {
        display: none;
    }

    .description-group {
        display: flex;
        align-items: baseline;
    }

    form {
        width: 35%;

    }

}


@media screen and (max-width: 750px) {


    .group-img {
        width: 97%;
        position: static;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 97%;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .marca {
        display: flex;
        justify-content: center;
    }

    form {
        width: 60%;

    }
}

@media screen and (max-width: 600px) {

    .group-img {
        margin-bottom: 2rem;
    }

    form {
        width: 70%;


    }
}