@media screen and ( max-width: 1920px) {
    
    .imput-group{
        overflow: auto; 
    }    
}

@media  screen and ( max-width:  1280px ){ 

}


@media  screen and ( max-width:  1000px ){ 
    .persona img{
        display: none;  
    }

    .description-group {
        display: flex;
        align-items: baseline;
    }

    .marca {
        display: flex;
        justify-content: left;
        padding: 1rem;
        

    }

    form {
        width: 40%;
        
    }

}

 
@media screen and ( max-width: 600px) {


    .description-group {
        min-height: 50%;
        display: flex;
        align-items:center;
        justify-content: left;
    }
    
    .group-img{
        position: relative;
    }

       .form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .marca {
        height: 80%;
        display: flex;
        justify-content: center;
    }

    form {
        width: 80%;
        
    }
}
